repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.3
  hooks:

    # Run the formatter.
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format
exclude: 'k8s/.*|tests/.*'
