name: Clean Docker Hub dev-* who was merged
on:
    pull_request:
        types:
            - closed

jobs:
    cleanup-docker-images-dev-branches:
        if: ${{ github.event.pull_request.merged }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Docker Hub Cleanup
              uses: lostlink/docker-cleanup@v1
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}
                repositories: 'hyb8nate'
                dry-run: false  # Set to true for testing
                custom-patterns: '{"^dev-.*": 0}'
                protected-tags: 'latest,stable,v[0-9]+\.[0-9]+\.[0-9]+'
